{% load custom_tags %}
{% load humanize %}

<tr>
    <td>D* 25</td>
    <td class="text-right">{{ object.j25|intcomma }}</td>
    <td class="text-right">{{ object.j25|calculate_specific_value|intcomma }}</td>
    <td class="text-right">25</td>
    <td class="text-right">{% multiply object.j25 25 %}</td>
</tr>
<tr>
    <td>D* 30</td>
    <td class="text-right">{{ object.j30|intcomma }}</td>
    <td class="text-right">{{ object.j30|calculate_specific_value|intcomma }}</td>
    <td class="text-right">30</td>
    <td class="text-right">{% multiply object.j30 30 %}</td>
</tr>
<tr>
    <td>D* 35</td>
    <td class="text-right">{{ object.j35|intcomma }}</td>
    <td class="text-right">{{ object.j35|calculate_specific_value|intcomma }}</td>
    <td class="text-right">35</td>
    <td class="text-right">{% multiply object.j35 35 %}</td>
</tr>
<tr>
    <td>D* 50</td>
    <td class="text-right">{{ object.j50|intcomma }}</td>
    <td class="text-right">{{ object.j50|calculate_specific_value|intcomma }}</td>
    <td class="text-right">50</td>
    <td class="text-right">{% multiply object.j50 50 %}</td>
</tr>
<tr>
    <td>D* 60</td>
    <td class="text-right">{{ object.j60|intcomma }}</td>
    <td class="text-right">{{ object.j60|calculate_specific_value|intcomma }}</td>
    <td class="text-right">60</td>
    <td class="text-right">{% multiply object.j60 60 %}</td>
</tr>
<tr>
    <td>D* 75</td>
    <td class="text-right">{{ object.j75|intcomma }}</td>
    <td class="text-right">{{ object.j75|calculate_specific_value|intcomma }}</td>
    <td class="text-right">75</td>
    <td class="text-right">{% multiply object.j75 75 %}</td>
</tr>
<tr>
    <td>D* 100</td>
    <td class="text-right">{{ object.j100|intcomma }}</td>
    <td class="text-right">{{ object.j100|calculate_specific_value|intcomma }}</td>
    <td class="text-right">100</td>
    <td class="text-right">{% multiply object.j100 100 %}</td>
</tr>
<tr>
    <td>D* 125</td>
    <td class="text-right">{{ object.j125|intcomma }}</td>
    <td class="text-right">{{ object.j125|calculate_specific_value|intcomma }}</td>
    <td class="text-right">125</td>
    <td class="text-right">{% multiply object.j125 125 %}</td>
</tr>
<tr>
    <td>D* 150</td>
    <td class="text-right">{{ object.j150|intcomma }}</td>
    <td class="text-right">{{ object.j150|calculate_specific_value|intcomma }}</td>
    <td class="text-right">150</td>
    <td class="text-right">{% multiply object.j150 150 %}</td>
</tr>
<tr>
    <td>D* 200</td>
    <td class="text-right">{{ object.j200|intcomma }}</td>
    <td class="text-right">{{ object.j200|calculate_specific_value|intcomma }}</td>
    <td class="text-right">200</td>
    <td class="text-right">{% multiply object.j200 200 %}</td>
</tr>
<tr>
    <td>D* 500</td>
    <td class="text-right">{{ object.j500|intcomma }}</td>
    <td class="text-right">{{ object.j500|calculate_specific_value|intcomma }}</td>
    <td class="text-right">500</td>
    <td class="text-right">{% multiply object.j500 500 %}</td>
</tr>
<tr>
    <td>D* 1000</td>
    <td class="text-right">{{ object.j1000|intcomma }}</td>
    <td class="text-right">{{ object.j1000|calculate_specific_value|intcomma }}</td>
    <td class="text-right">1000</td>
    <td class="text-right">{% multiply object.j1000 1000 %}</td>
</tr>
