{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block subtitle %}
    Judicial  Stock Out Management
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0 font-size-24">
                            Judicial StockOut Management
                        </p>
                    </div>
                    <div class="col-sm-6 text-right">

                        <a href="{% url 'admins:stock_out_judicial-create' %}" class="btn btn-success">
                            <i class="fa fa-plus"></i> New Stock Out
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="input-group mb-3">
                    {{ filter_form }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <a class="btn btn-danger" href="{% url 'admins:stock-out-judicial-list' %}">
                            <i class="fa fa-brush"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    {% if object_list %}
                        <div class="table-responsive" style="overflow-x: scroll;white-space: nowrap;">
                            <table class="table table-borderless table-hover">
                                <thead class="border-bottom">
                                <tr>
                                    <th>Treasury</th>
                                    <th>Qty</th>
                                    <th>total</th>
                                    <th>15000</th>
                                    <th>10000</th>
                                    <th>5000</th>
                                    <th>3000</th>
                                    <th>2000</th>
                                    <th>1000</th>
                                    <th>500</th>
                                    <th>200</th>
                                    <th>150</th>
                                    <th>125</th>
                                    <th>100</th>
                                    <th>75</th>
                                    <th>60</th>
                                    <th>50</th>
                                    <th>35</th>
                                    <th>30</th>
                                    <th>25</th>
                                    <th>Created By</th>
                                    <th>Created On</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <b>
                                                {% if object.source_treasury %}
                                                	<a href="{% url 'admins:treasury-detail' object.source_treasury.pk %}">{{ object.source_treasury }}</a>
                                                {% else %}
                                                    <a href="#">-</a>
                                                {% endif %}
                                            </b>
                                        </td>
                                        <td>{{ object.quantity|cool_num }}</td>
                                        <td>RS <b>{{ object.amount|cool_num }}</b></td>
                                         <td>{{ object.j15000|cool_num }}</td>
                                        <td>{{ object.j10000|cool_num }}</td>
                                        <td>{{ object.j5000|cool_num }}</td>
                                        <td>{{ object.j3000|cool_num }}</td>
                                        <td>{{ object.j2000|cool_num }}</td>
                                        <td>{{ object.j1000|cool_num }}</td>
                                        <td>{{ object.j500|cool_num }}</td>
                                        <td>{{ object.j200|cool_num }}</td>
                                        <td>{{ object.j150|cool_num }}</td>
                                        <td>{{ object.j125|cool_num }}</td>
                                        <td>{{ object.j100|cool_num }}</td>
                                        <td>{{ object.j75|cool_num }}</td>
                                        <td>{{ object.j60|cool_num }}</td>
                                        <td>{{ object.j50|cool_num }}</td>
                                        <td>{{ object.j35|cool_num }}</td>
                                        <td>{{ object.j30|cool_num }}</td>
                                        <td>{{ object.j25|cool_num }}</td>
                                        <td>
                                            <a href="{% url 'admins:user-detail' object.user.pk %}"><b>{{ object.user }}</b></a>
                                        </td>
                                        <td>{{ object.created_on }}</td>
                                        <td>
                                            <a href="{% url 'admins:stock_out_judicial-detail' object.pk %}"><b><i
                                                    class="fa fa-eye"></i></b></a>
                                         
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="mb-0"><b class="text-danger">No records available.</b></p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mt-0">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    {% if object_list.has_next %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function () {

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}

