{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block subtitle %}
    Judicial Transaction Stock out Delete
{% endblock %}

{% block page_heading %}
    Judicial Transaction Stock out #{{ object.pk }}
{% endblock %}

{% block page_heading_right %}
    <a href="{% url 'admins:stock-out-judicial-list' %}">
        <i class="fa fa-arrow-left"></i> back to transactions
    </a>
{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">

                        <p class="text-danger">
                            <b>
                                Are you sure? you want to delete Stock out #{{ object.pk }} permanently.
                            </b>
                        </p>

                        {% csrf_token %}

                        {{ form|crispy }}
                        <div class="">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}



