{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block subtitle %}
    Non Judicial Stock In Form
{% endblock %}

{% block page_heading %}
    Non Judicial Stock In Form
{% endblock %}

{% block page_heading_right %}
    <a href="{% url 'admins:stock-in-list' %}">
        <i class="fa fa-arrow-left"></i> Back to Transactions
    </a>
{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>

                </div>
            </div>
        </div>
    </div>




{% endblock %}



